h1, h3 {
    color: red;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
}

ol {
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

li {
    font-size: 20px;
}

.destaque {
    font-weight: bold;
}

.linguagem {
    color: blue;
}

.java {
    background-color: pink;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.stack:hover {
    font-weight: bold;
    color: orange;
}

.w3:hover {
    font-weight: bold;
    color: green;   
}

.mdn:hover {
    font-weight: bold;
    color: black;
}

.devdocs:hover {
    font-weight: bold;
    color: yellow;
}

.trybe:hover {
    font-weight: bold;
    color: green; 
}